.{
    margin: 10px;
}
.input-group-button{
    align-items: center;
    text-align: center;
    margin-top: 10px;
}
.container{
    display: flex;
    justify-content: center;
}
.input-group:after {
    content:" *";
    color: red;
}
